<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>用户名</th>
            <th>密码</th>
            <th>超级管理员</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    <% admins.map(function( admin ) {%>
        <tr>
            <td>
                <% if(admin.issuper) { %>
                    <input type="checkbox" name="ids" value="<%=admin.aid %>"/>
                <% } %>
            </td>
            <td><%=admin.email %></td>
            <td><%=admin.pwd %></td>
            <td><%=admin.issuper ? '否' : '是' %></td>
            <td>
                <% if(admin.issuper) { %>
                    <a href="#/deladmin/<%=admin.aid%>" class="glyphicon glyphicon-trash"></a>
                <% } %>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>

<div class="btn-group">
    <a href="#/goadminadd" type="button" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i></a>
</div>