.fd_position{
	width: 94%;
	padding: 3%;
	display: flex;
	background-color: #fff;
}
.fd_photo{
	width: 60px;
	height: 60px;
	border-radius: 6px;
	margin-right: 2%;
}
.fd_photo img{
	width: 100%;
}
.fd_news{
	flex: 1;
}
.fd_news p{
	color: #999;
	font-size: 14px;
	line-height: 20px;
}
.weizhi{
	color: #0066FF!important;
    font-size: 12px!important;
}
.weizhi::before{
	content: "";
	width: 16px;
	height: 18px;
	background: url(../img/friend/position.png) no-repeat center center;
	display: inline-block;
	vertical-align: middle;
}