.container{
	background-color: #fff;
}
.news_box h5,.near_box h5,.myzone_head h5{ 
	font-size: 15px!important;
	color: #333;
}
.myzone_head h5{
	color: #000;
}
.myzone_head .myqone_news p:nth-child(2){
	color: #333;
	font-size: 12px;
}
.myzone_head .myqone_news p:nth-child(3) span{
	color: #fff;
	font-size: 12px;
	background-color: #ccc;
	padding: 2px 10px;
	margin-right: 5px;
}
.myzone_head .myqone_news p:nth-child(3) span:nth-child(2),.myzone_head .myqone_news p:nth-child(3) span:nth-child(3){
	background-color: #fbabed!important;
}
.myzone_head .myqone_news p:nth-child(3) span:nth-child(2)::before,.myzone_head .myqone_news p:nth-child(3) span:nth-child(3)::before{
	content: '';
	width: 10px;
	height: 13px;
	background: url(../img/news/weichat_rz.png) no-repeat center center;
	display: inline-block;
	vertical-align: middle;	
	margin-right: 5px;
}
.news_box h5>span,.near_box h5>span,.near_box p>span{
	float: right;
	color: #999;
	font-size: 13px!important;
}
.near_box h5>span{
	color: #0066FF!important;
}
.near_box p{
	line-height: 40px!important;
}
.near_box p>span{
	color:#333;
	padding: 12px;
	line-height: 0;
	margin-top: 8px;
	border: 1px solid #999900;
	border-radius: 4px;
}
.news_tab_box{
	background-color: #fff;
}
.news_tab_box>a{
	padding: 0;
}
.cur{
	font-weight: bold;
}
.news_tab_box>a>p{
	font-size: 14px;
	color: #666;
	line-height: 40px;
}
.near_box h5>span::before{
	content: "";
	width: 16px;
	height: 18px;
	background: url(../img/friend/position.png) no-repeat center center;
	display: inline-block;
	vertical-align: middle;
}
.all_chat{
	width: 80px;
	height: 65px;
	text-align: center;
	border-radius: 50%;
	background-color: #fbabed;
	position: fixed;
	right: 10px;
	bottom: 60px;
}
.all_chat::before{
	content: '';
	width: 20px;
	height: 20px;
	margin: 0 auto;
	background: url(../img/news/chat.png) no-repeat center center;
	text-align: center;
	display: block;
	margin-top: 5px;
}
.myzone_box{
	width: 96%;
	padding: 0 2%;
}
.myzone_head{
	background-color: #fff;
	margin-top: 5px;
}
.near_btn{
	margin-top: 10px;
}
.near_btn>a{
	width: 48%;
	line-height: 30px;
	display: inline-block;
	background-color: #fff;
	text-align: center;
	color: #000;
}
.near_btn>a:nth-child(1){	
	margin-right: 2%;
}
.list_box,.lianxi_box{
	margin-top: 10px;
	font-size: 13px;
}
.list_right{
	font-size: 12px;
}
.lianxi_box h5{
	font-size: 13px!important;
}
.lianxi_box p{
	margin-top: 0!important;
	padding-bottom: 10px!important;
}
/*VIP包月样式*/
.vipbaoyue{
	text-align: center;
    background-color: #FF44B0;
    font-size: 14px;
    line-height: 40px;
    color: #fff;
}
.month_box,.ziliao_box{
	width: 96%;
	margin: 10px auto;
}
.ziliao_box{
	margin: 0 auto;
}
.month_box>a>div>p{
	font-size: 14px;
}
.month_box>a>div>p>span{
	color: #999;
	font-size: 12px;
	padding-left: 10px;
}
.vip_sm{
	color: #FF44B0;
	font-size: 14px;
	padding-left: 2%;
}
.vipmonth>ul,.xiangce>ul{
	padding-left: 3%;
}
.vipmonth>ul>li{
	font-size: 14px;
	line-height: 24px;
}
/*图片上传样式*/
.month_box>ul>li{
	width: 67px;
	height: 67px;
	border-radius: 4px;
}
.month_box>.weui_uploader_input_wrp{
	width: 65px;
	height: 65px;
	border-radius: 4px;
}
/*详细资料样式*/
.ziliao_box>.weui_cells_title{
	font-size: 14px;
	color: #000;
	padding-left: 0;
}
.ziliao_box>.weui_cells{
	border: 1px solid #000;
	border-radius: 4px;
	font-size: 12px;
}
.ziliao>.weui_btn_area,.conditions>.weui_btn_area,.information>.weui_btn_area{
	margin: 1.17647059em 2% .3em;
}
.ziliao .save_btn,.conditions .save_btn,.information .save_btn{
	background-color: #fff;
	color: #000;
}
/*基本资料样式、征友条件*/
.content{
	padding: 2% 2% 0;
}
.habit-list {
    overflow: hidden;
    font-size: .9em;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    list-style: none;
}
.habit-list li {
    height: 37px;
    line-height: 37px;
    margin: 0 0 1px 0;
    background: #fff;
    padding: 0 10px;
}
.habit-list li .left {
    float: left;
    color: #555;
}
.habit-list li .right {
    float: right;
    position: relative;
    height: 37px;
    line-height: 37px;
}
.habit-list li .right input {
    border: 1px solid #eee;
    margin: 5px -4px 0 0;
    height: 27px;
    line-height: 27px;
    padding-right: 4px;
    text-align: right;
}
.habit-list li .right .select {
    float: left;
    margin: 0;
    position: relative;
    height: 37px;
}
/*.bot_trged {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-top: 6px solid #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    margin: -3px 0px 0 0;
}*/
.habit-list li .right .value {
    color: #555;
    margin: 0 10px 0 22px;
}
.select span{
	display: none;
}
